server/src/main/java/seaBattle/xmlservice/schemas/pl.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="playerList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="player" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="login"/>
                            <xs:element type="xs:string" name="password"/>
                            <xs:element type="xs:string" name="status"/>
                            <xs:element type="xs:int" name="rank"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>